<div class="container-boss">
    <div class="row-container">
        <div class="container">Quadrado 1</div>
        <div class="container"><app-balance-chart></app-balance-chart></div>
    </div>
    <div class="row-container">
        <div class="container">Quadrado 3</div>
        <div class="container"><app-category-chart></app-category-chart></div>
    </div>
    <div class="row-container">
        <div class="container">Quadrado 5</div>
        <div class="container">Quadrado 6</div>
    </div>
</div>