<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyMoney - Login</title>
</head>

<body>
    <div class="login-container">
        <img src="assets/logo.png" alt="Logo da Aplicação" class="logo">
        <form class="form-container" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <input type="email" id="email" name="email" [(ngModel)]="email"
                    placeholder="Digite seu username ou email" required>
            </div>
            <div class="form-group">
                <input type="password" id="password" name="password" [(ngModel)]="password"
                    placeholder="Digite sua senha" required>
            </div>
            <div class="button-group">
                <button type="submit" class="btn-entrar">Entrar</button>
                <button type="button" (click)="onRecoverPassword()" class="btn-recuperar">Recuperar Senha</button>
            </div>
            <a href="/criar-conta" class="criar-conta">Não tem uma conta? Crie a sua agora!</a>
        </form>
    </div>
</body>

</html>