<h1>Valores por Categorias</h1>
<div class="selection">
    <div class="select-container">
        <select id="monthSelect" [(ngModel)]="monthSelect" (change)="onDateChange()">
            <option *ngFor="let month of months; let i = index" [value]="i + 1">
                {{ month }}
            </option>
        </select>
    </div>
    <div class="select-container">
        <select id="yearSelect" [(ngModel)]="selectedYear" (change)="onDateChange()">
            <option *ngFor="let year of years" [value]="year">
                {{ year }}
            </option>
        </select>
    </div>
</div>
<div>
    <h2>
        teste
    </h2>
</div>